h1 {
  color: red;
  transition: 200ms ease-out transform;
  &:hover {
    color: blue;
    transform: translate(10px, 0);
  }
}

/*
#overview
Gulp入門
Gulp入門サンプル

サンプルファイルです。
*/

/* #styleguide
サンプル見出し1

サンプルの見出しスタイル
hoverすると青く２倍なる

```
<h1>見出し1</h1>
```
*/
